nav {
    background-color: black;
    height: 50px;
    text-align: center;
    align-content: center;
}
body {
    background-color: burlywood;
    font-family: sans-serif;
}
nav a {
    color: burlywood;
}
.center {
    text-align: center;
}
